@model List<Product>;

<h3>List of Product</h3>
<br />
@* <a class="btn btn-primary" asp-action="Create">New Product</a> *@
<br />
<br />
<table class="table table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th style="width:30%;">Name</th>
            <th style="width:10%;">price</th>
            <th style="width:30%;">Description</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @{
            int counter = 1;
        }
        @foreach (var item in Model)
        {
            <tr>
                <td>@counter</td>
                <td>@item.Name</td>
                <td>@item.Price</td>
                <td>@item.Description</td>
                <td>
                    <a class="btn btn-success"  asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
            counter++;

        }
    </tbody>
</table>